{% load i18n %}{% if a.conferencia %}<span class="selo alerta">{{ a.conferencia }} {% translate "aguardando conferencia" %}</span>{% endif %}
{% if a.arquivo %}<a class="selo alerta" href="{% url 'knowledge:fontes_sugeridas' %}#aguardando-pdf" title="{% translate 'Aprovado, mas sem PDF (ou audio) para ler: envie o arquivo em Fontes sugeridas' %}">{{ a.arquivo }} {% translate "aguardando o arquivo (PDF)" %}</a>{% endif %}
{% if a.curadoria %}<span class="selo alerta">{{ a.curadoria }} {% translate "aguardando curadoria" %}</span>{% endif %}
